In [37]:
import pandas as pd
df = pd.read_csv('../data/retail_sales_dataset.csv')
df.head(10)
df.tail(5)
df.info()
df.describe()
df.dtypes
df['Product Category'].value_counts()
#Respecto al item de mostrar los valores unicos de la columna tienda, no existe la columna tienda.
df[df['Total Amount']>50]
df[df['Total Amount']<0.5]
df.query("`Product Category` == 'Manzana' & `Total Amount` > 30") 
df[['Product Category','Total Amount']] 
df.loc[5:10,'Product Category']
df.iloc[0:5,0:3]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

   Transaction ID        Date Customer ID
0               1  2023-11-24     CUST001
1               2  2023-02-27     CUST002
2               3  2023-01-13     CUST003
3               4  2023-05-21     CUST004
4               5  2023-05-06     CUST005